
  <mat-toolbar class="p-0">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="show">
      <mat-list>
        <mat-list-item [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</mat-list-item>
        <mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active">home</mat-list-item>
        <mat-list-item>Paprika</mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content class="w-100">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
